{% extends "base.html" %}
{% block content %}
    <div class="row">
      <div class="col-md-4">
        <!--Empty column-->
      </div>

      <div class="col-md-4">
        <form action="" method="post" novalidate>
          {{ form.hidden_tag() }}
          <p>
            {{form.username.label}} <br>
            {{form.username(size=32)}}
            {%for error in form.username.errors%}
            <span style="color: red;">
              {{error}}
            </span>
            {% endfor %}
          </p>
          <p>
            {{form.password.label}} <br>
            {{form.password(size=32)}}
            {%for error in form.username.errors%}
            <span style="color: red;">
              {{error}}
            </span>
            {% endfor %}
            

          </p>

          <p>
            {{form.retype_password.label}} <br>
            {{form.retype_password(size=32)}}
            {%for error in form.username.errors%}
            <span style="color: red;">
              {{error}}
            </span>
            {% endfor %}
            

          </p>
          

          <p>
            {{ form.submit()}}
          </p>
              </form>
      </div>
      <div class="col-md-4">
        <!--Empty column-->
      </div>
  </div>

{% endblock %}
